footer {
	background-color: white;
	height: 60px;
	width: 100%;
	border-top: solid 1px #CCCCCC;
	/* position sticky; */
	bottom: 0;
	display: flex;
		justify-content: center;
		align-items: center;
}
