.filter {
	height: 70px;
	width: 100%;
	border: solid 1px #DDDDDD;
	border-radius: 4px;
	display: flex;
	align-items: center;
}

button {
	font-size: 18px;
	position: absolute;
	right: 30px;
	border: none;
	border-radius: 4px;
	width: 20%;
	height: 48px;
	background-color: #FF5A5F;
	color: #FFFFFF;
}

button.hover {
	opacity: 0.9;
}

.locations {
	border-right: solid 1px #DDDDDD;
}

.locations,
.amenities {
	height: 100%;
	width: 25%;
}

.locations h3,
.locations h4,
.amenities h3,
.amenities h4,{
	padding-left: 1rem;
}

h3 {
	font-weight: 600;
	padding-top: 1rem;
	margin: 0;
}

h4 {
	margin: 0;
	font-weight: 400;
	font-size: 14px;
}

