.place {
	position; relative;
	top: 0;
	left: 0;
}
.place h1 {
	font-size: 30px;
}
.articles-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.places article {
	display: flex;
	justify-content: center;
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px solid #FF5A5F;
	border-radius: 4px;
}
